* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvasContainer {
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
  background-color: #2066cf;
}
